@media (max-width: 1920px) {
  .section-order-item::after {
    left: 125px;
  }
}

@media (max-width: 1600px) {
  .section-order-item::after {
    left: 138px;
  }

  .container {
    padding: 0 10%;
  }
}

@media (max-width: 1400px) {
  .container {
    padding: 0 3%;
  }
}

@media (max-width: 1024px) {
  .section-order-item::after {
    left: 134px;
  }
  .section-order-item {
    p {
      font-size: 12px;
    }
  }
  .footer {
    grid-template-columns: 25% 40% 35%;

    div p, a {
      padding: 0 10px;
    }
  }
  .header-menu a {
    padding-right: 20px;
  }
  .form {
    grid-template-columns: 1fr 1fr;
  }
  .input-wrapper {
    grid-column: 1/3;
  }
  .form-submit {
    grid-column: 1/3;

    button {
      width: 100%;
    }
  }
  .form-subtext {
    grid-column: 2/3;
  }
}

@media (max-width: 768px) {
  .form {
    display: flex;
    flex-direction: column;

    &-submit button {
      margin: 0;
    }
  }
  .section-order-item::after {
    content: none;
  }
  .footer {
    div {
      border-right: none;
      font-size: 12px;

      p, a {
        padding: 0 5px;
      }
    }
  }
}

@media (max-width: 667px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  header {
    flex-direction: column;
    justify-content: space-around !important;
  }

  .section-main-title {
    font-size: 36px;
  }

  .section-order-chart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 414px) {
  .header-logo {
    font-size: 24px;
  }

  .header-menu a {
    font-size: 10px;
  }

  .section-main-title {
    font-size: 28px;
  }

  .form button {
    width: 100%;
  }
  .form-subtext {
    font-size: 14px;
  }
}
