@media (max-width: 1920px) {
  .section-order__item::after {
    left: 125px;
  }
}

@media (max-width: 1600px) {
  .section-order__item::after {
    left: 138px;
  }

  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 1400px) {
  .container {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media (max-width: 1024px) {
  .header__menu-link {
    margin-right: 20px;
  }

  .section-order__item::after {
    left: 134px;
  }

  .section-order__item {
    &-text {
      font-size: 12px;
    }
  }

  .footer {
    grid-template-columns: 25% 40% 35%;

    .footer__text {
      padding: 0 10px;
    }
  }

  .order-form {
    grid-template-columns: 1fr 1fr;
  }

  .input-file {
    grid-column: 1/3;
  }

  .order-form__submit {
    grid-column: 1/3;

    &__btn {
      width: 100%;
    }
  }
  .input_file__container {
    grid-column: 1/3;
  }
}

@media (max-width: 768px) {
  .section-order__item::after {
    content: none;
  }

  .footer {
    .footer__item {
      border-right: none;
      font-size: 12px;

      .footer__text {
        padding: 0 5px;
      }
    }
  }
}

@media (max-width: 667px) {
  .header {
    flex-direction: column;
    justify-content: space-around;
  }

  .order-form {
    display: flex;
    flex-direction: column;
  }

  .section-main__title {
    font-size: 36px;
  }

  .section-order__chart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media (max-width: 414px) {
  .header__logo {
    font-size: 24px;
  }

  .header__menu-link {
    font-size: 10px;
  }

  .section-main__title {
    font-size: 28px;
  }

  .order-form__range {
      font-size: 14px;
    }

  .form .btn {
    width: 100%;
  }
}
